.customers__wrapper {
  margin-top: 100px;
  padding-top: 174px !important;
  padding-bottom: 132px !important;
  background-image: url("../../assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.customers__heading {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1px;
  color: #262729;
}

.customers__heading_tagline {
  margin: auto;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #262729;
  mix-blend-mode: normal;
  opacity: 0.7;
  max-width: 480px;
  margin-top: 26px;
  margin-bottom: 85px;
}

.customer__words {
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #262729;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-bottom: 57px;
  margin-top: 30px;
  max-width: 310px;
  position: relative;
}

.customer__name {
  font-size: 21px;
  line-height: 30px;
  color: #262729;
}

.customer__work {
  font-size: 15px;
  line-height: 28px;
  color: #262729;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.customers__feedback_top,
.customers__feedback_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.customers__feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customers__feedback_wrapper {
  display: flex;
  justify-content: space-evenly;
}

.customer__words_highlight {
  position: relative;
}

.customer__words_highlight::after {
  display: block;
  position: absolute;
  content: "";
  height: 2px;
  background-color: #00d87d;
  width: 100%;
  bottom: -25%;
  right: 0%;
}

.customers__heart {
  position: absolute;
  top: 30%;
  left: 10%;
}

.customers__start {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
